[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
numpy = "*"
matplotlib = "==3.1.1"
opencv-python = "==3.4.2.17"
opencv-contrib-python = "==4.2.0.32"
pandas = "*"
xml-python = "*"
scikit-learn = "*"
sklearn = "*"

[requires]
python_version = "3.6"
